

.parent {
    display: flex;
    flex-direction: row;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.child {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 1px;
}


